body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img-vdeo/seychelles1.png);
    font-family: "century Gothic";
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 0px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
    letter-spacing: 1px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
ul li.active a{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
img{
    float: right;
    width: 150px;
    height: 50px;
    margin-right: 66px;
    margin-top: 2px;
}
.barre_image{
    margin-top: 15px;
    height: 150px;
    border-radius: 5px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img-vdeo/seychelles0.jpg');
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    margin-top: 80px;
}
.barre_image h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ville{
    width: 900px;
    margin: auto;
    background-color: rgba(133, 131, 131, 0.322);
}
.video{
    background-position: center;
    background-size: cover;
    margin-left: 10%;
}
aside{
    position: relative;
    width: 235px;
    background-color: rgba(13, 68, 218, 0.158);
    box-shadow: 0px 2px 5px #000;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
article, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article{
    width: 625px;
    margin-right: 15px;
}
h2{
    text-decoration: underline;
    text-align: center;
}
.flottant1{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
.flottant2{
    float: right;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
h3{
    text-align: center;
    padding-top: 90%;
    color: #fff;
}
h3:hover{
    text-align: center;
    padding-top: 80%;
}
.dec0{
    background-image: url("../img-vdeo/Atoll-d’Aldabra.jpg");
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-left: 10%;
    float: left;
}
.dec1{
    background-image: url("../img-vdeo/Mahé-2.jpg");
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-left: 15%;
    float: left;
}
.dec3{
    background-image: url("../img-vdeo/Parc-national.jpg");
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-left: 15%;
    float: left;
}
.footer-bottom {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 12px;
}